/*paramètres généraux*/


    * {
        box-sizing:border-box;
    }

body {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.fas {
    color: #0065FC;
}
.fa-chart-line {
    color: black;
    font-size: 1.2em;
    margin-right: 30px;
}
h2 {
    margin-left: 10px;
    margin-bottom: 10px;
}
h3 {
    color: black;
    font-size: 1.1em;
    margin: 5px 0 0 10px;
}

/* début du header */
header {
    display: flex;
    align-items: center;
    margin-right: 60px;
    height: 120px;
}
.logo img {
    object-fit: cover;
    margin-left: 10px;
}
.inscrire a {
    margin-right: 40px;
    padding-top: 50px;
    font-size: 1.1em;
    color: black;
    font-weight: bold;
}
.inscrire a:hover {
    color: #0065FC;
    background: transparent;
    transform: scale(1.03);
    border-top: blue solid 2px;
}
nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
nav a {
    padding-top: 50px;
    font-size: 1.1em;
    color: black;
    margin-bottom: 50px;
    margin-right: 40px;
    font-weight: bold;
}
nav a:hover {
    color: #0065FC;
    background: transparent;
    transform: scale(1.03);
    border-top: blue solid 2px;
}

/* fin du header */

/* debut du main */

h1 {
    margin: 10px 0 0 10px;
    font-size: x-large;
}
.titreSoustitre p {
    margin-left: 10px;
}
.recherche {
    display: flex;
    overflow: auto;
    margin: 0 0 0 10px;
}
.icone {
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
  }
.barreRecherche {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5em;
    width: 15em;
    font-size: 1em;
}
.fa-map-marker-alt {
    font-size: 1.2rem;
    padding: 0.9em 0.7em 1em 1em;
    color: black;
}
.loupe {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 1rem ;
    padding: 0 1em;
    font-size: 1em;
    cursor: pointer;
}
#boutonloupe {
    display: none;
}
.rechercher {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 1rem 1em 0;
    padding: 0 1.5em;
    font-size: 1em;
    cursor: pointer;
}
.filtres {
    display: flex;
    margin-left: 10px;
}
.nomfiltres {
    font-size: 1.3em;
    margin: 2.1em 2em 2em 0;
}
.barreFiltre {
    display: flex;
    align-items: center;
    height: 49px;
    margin-top: 30px;
    margin-right: 40px;
    border: 2px solid #d9d9d9;
    border-radius: 2em;
}
.barreFiltre:hover {
    background-color:#DEEBFF;
    transform: scale(1.03);
}
.image {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}
.titre {
    padding-right: 1.5em;
    padding-left: 0.5em;
    font-weight: 900;
}
.info {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.iconeinfo {
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    margin-right: 1em;
    height: 1.5em;
    width: 1.5em;
 }
.fa-info {
    text-align: center;
    color: #0065FC;
    padding: 0.2em 0.2em 0.1em 0.2em;
}
.hebergementsetPopulaires {
    display: flex;
    justify-content: space-between;
    width: 94%;
 }
.hebergements {
    background-color: #F2F2F2;
    border-radius: 1.25rem;
    width: 67%;
}
 .marseille {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
 .etoiles {
     margin: 5px 0 0 10px;
 }
 .grey {
     color: lightgrey;
 }
 .hbg {
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    margin: 0.5em;
    padding: 0.5em;;
}
.hbg:hover {
    transform: scale(1.03);
}
.hbg p {
    color: black;
    margin: 2px 0 2px 10px;
    font-size: 0.8em;
}

.hotel {
    border-radius: 1.25em 1.25em 0 0;
    object-fit: cover;
    width: 240px;
    height: 110px;
}

.hbgtitre {
    margin-left: 30px;

 }
.afficher {
    margin-left: 30px;
    padding-bottom: 30px;
    font-size: 1.2em;
    font-weight: 600;
 }
 .popuTitre {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-left: 20px;
 }
 .plusPopulaires {
    background-color: #F2F2F2;
    border-radius: 1.25rem;
    width: 26%;
}
.textePopu h3{
    margin: 20px 0 0 8px;
}
.textePopu p {
    margin: 10px 0 0 8px;
}
.Populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.blockPopu  {
    width: 102%;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    margin-bottom: 20px;
 }
.blockPopu a {
    display: flex;
}

.star {
    margin: 10px 0 0 5px;
}
 .blockPopu:hover {
    background-color: white;
    transform: scale(1.03);
}
 .imageplusPopulaires {
    width: 140px;
    height: 140px;
    border-radius: 1.25em 0 0 1.25em;
    object-fit: cover;
    padding: 0.3em;
 }

 .touslesblocksactivites {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 496px;
    margin-right: 90px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.activitesTitre {
    color: black;
    font-size: 1.3em;
    padding-top: 50px;
}
.nomActivites {
    margin: 5px 0 0 15px ;
}
.blockActivites1 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
  }
.blockActivites1:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites1image {
    width: 300px;
    height: 440px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}
.blockActivites2 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites2:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites2image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}
.blockActivites3 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites3:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites3image {
    width: 300px;
    height: 110px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}
.blockActivites4 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites4:hover{
    background-color: white;
    transform: scale(1.03);
}
.activites4image {
    width: 300px;
    height: 440px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}
.blockActivites5 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites5:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites5image {
    width: 300px;
    height: 140px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}
.blockActivites6 {
    background-color:white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.blockActivites6:hover {
    background-color: white;
    transform: scale(1.03);
}
.activites6image {
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}



/* fin du main */

/* debut footer */
footer {
    background-color: #F2F2F2;
    width: 100%;
 }
.blockFooter {
    display: flex;
    padding: 0 1rem;
}
.interieurblockFooter {
    width: 100%;

}
.footerTitre {
    display: block;
    font-size: 1em;
    margin: 5px 0 0 0;
}
.lignesFooter {
    color: black;
    display: block;
    margin: 1em 0;
}
/* fin footer */

@media all and (max-width: 1439px)
{


    h1 {
        font-size: 1em;
        }
    .filtres {
        display: flex;
        width: 95%;
    }
    .icone {
        background-color: #F2F2F2;
        border-radius: 1rem 0 0 1rem;
        padding: 0 0.5em 0 0;
    }
    .fa-map-marker-alt {
        padding: 0.9em 0.7em 1em 1.2em;
        color: black;
    }
    .nomfiltres {
        margin: 25px 15px 0 0;
        font-size: 1em;
    }
    .barreFiltre {
        margin-top: 15px;
        margin-right: 10px;
    }
    .rechercher {
        display: none;
    }
    #boutonloupe {
        display: inline-block;
    }
   .titre {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 15px;
    }
    .hebergementsetPopulaires {
        display: flex;
        flex-direction: column-reverse;
        align-content: space-around;
        justify-content: space-around;
    }
    .afficher {
        margin-left: 32px;
    }
    .hebergements {
        width: 100%;
        margin: 20px;
    }
    .plusPopulaires {
        width: 100%;
        margin-left: 20px;
    }
    .popuTitre {
        margin-left: 30px;
    }
    .Populaires {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
    }
    .blockPopu {
        margin-left: 10px;
    }
    .blockPopu h3 {
        margin: 10px 0 0 0;
    }
    .blockPopu p {
        margin: 5px 0 0 0;
    }
    .star {
        margin: 5px 0 0 0;
    }
    .touslesblocksactivites {
        flex-direction: row;
        height: 380px;
        margin-left: 70px;
    }
    .activites1image {
        width: 240px;
        height: 110px;
    }
    .activites2image {
        width: 240px;
        height: 110px;
    }
    .activites3image {
        width: 240px;
        height: 110px;
    }
    .activites4image {
        width: 240px;
        height: 110px;
    }
    .activites5image {
        width: 240px;
        height: 110px;
    }
    .activites6image {
        width: 240px;
        height: 110px;
    }
    .afficher {
        margin-left: 30px;
    }
    .activitesTitre {
        margin-left: 45px;
        padding-top: 0;
    }
    .lignesFooter {
        margin: 0.5em 0.5em 0.5em 0;
    }

}

@media all and (max-width: 768px)
{
    .Populaires {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .PopuTitre {
        display: inline-block;
    }
    .blockPopu {
        width: 50%;
        display: inline-block;
        margin-left: 10px;
    }
    .touslesblocksactivites {
        flex-direction: row;
        height: 700px;
        margin-left: 34px;
    }
    .activites1image {
        width: 280px;
        height: 150px;
    }
    .activites2image {
        width: 280px;
        height: 150px;
    }
    .activites3image {
        width: 280px;
        height: 150px;
    }
    .activites4image {
        width: 280px;
        height: 150px;
    }
    .activites5image {
        width: 280px;
        height: 150px;
    }
    .activites6image {
        width: 280px;
        height: 150px;
    }
    .afficher {
        margin-left: 10px;
    }
    .activitesTitre {
        margin-left: 10px;
    }

}


@media all and (max-width: 480px)
{
    header span {
        order: 1;
    }
    .inscrire a{
        color: #0065FC;
        margin-top: 15px;
    }
    .headerNav  {
        order: 2;
        margin-top: 80px;
        padding-right: 10px;
        color: black;
        background: transparent;
        transform: scale(1.03);
        border-bottom: #0065FC solid 2px;
        border-top: 0;
    }
    .barreRecherche {
        width: 60%;
        font-weight: bold;
        font-family: 'Raleway';
        margin-left: 10px;
    }
    .recherche {
        margin-left: 35px;
    }
    .logo img {
        object-fit: cover;
        margin-left: 35px;
    }
    h1 {
        font-size: 1.4em;
        margin-left: 47px;
    }
    .titreSoustitre {
        margin-left: 35px;
    }
    .filtres {
        width: 100%;
        display: inline-block;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 35px;
    }
    .barreFiltre {
        display: inline-flex;
        width: auto;
        align-items: center;
        margin-top: 10px;
        padding-right: 20px;
        margin-right: 20px;
        border: 2px solid #d9d9d9;
        border-radius: 2em;
    }
    .hebergements {
        width: 90%;
        background-color: white;
        margin-left: 38px;
      }
    .blockPopu {
        width: 90%;

    }
    .hbgtitre {
        font-size: 1.4em;
        margin-left: 15px;
    }
    .afficher {
        margin-left: 15px;
        padding-bottom: 0;
        font-size: 1.2em;
    }
    .info {
        margin-left: 20px;
        display: flex;
        align-items: baseline;
    }
    .info, p {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 85%;
    }
    .activitesTitre {
        color: black;
        font-size: 1.2em;
        margin-left: 40px;
        margin-top: 30px;
        padding-top: 0;
    }
    .touslesblocksactivites {
        flex-direction: row;
        height: 1300px;
        justify-content: space-around;
        align-content: space-around;
        margin-bottom: 30px;
        margin-left: 60px;
        margin-top: 0;
    }
    .hotel {
        border-radius: 1.25em 1.25em 0 0;
        object-fit: cover;
        width: 320px;
        height: 120px;
    }
    .footerTitre {
        margin-bottom: 10px;
    }
    .blockFooter {
        display: block;
        margin-left: 10px;
    }
    .interieurblockFooter {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        width: 70%;
        margin-left: 10px;
        padding-bottom: 20px;
    }

    .activites1image {
        width: 320px;
        height: 120px;
    }
    .activites2image {
        width: 320px;
        height: 120px;
    }
    .activites3image {
        width: 320px;
        height: 120px;
    }
    .activites4image {
        width: 320px;
        height: 120px;
    }
    .activites5image {
        width: 320px;
        height: 120px;
    }
    .activites6image {
        width: 320px;
        height: 120px;
    }
}
